.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__fHcfy {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__sv0Bt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: var(--token-bG5IwHIE1jO3k_);
}
.freeBox__sv0Bt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sv0Bt > :global(.__wab_flex-container) > *,
.freeBox__sv0Bt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sv0Bt > :global(.__wab_flex-container) > picture > img,
.freeBox__sv0Bt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___9Fgr4 {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox___73BOq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text___1Db6W {
  position: relative;
  color: var(--token-Yagrc-0kym_mRQ);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__m8Wbl:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__m8Wbl:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.productCard__bIyBk:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__jxJl0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings___8Nx7U:global(.__wab_instance) {
  position: relative;
}
.text__msIby {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rTm3E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__wmJcO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__nBvTt {
  position: relative;
  color: var(--token-Yagrc-0kym_mRQ);
  font-size: 30px;
  font-weight: 500;
}
.productCollection__gEaiC:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCollection__gEaiC:global(.__wab_instance) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.productCard__zg389:global(.__wab_instance) {
  max-width: 100%;
}
.productMedia__og3La:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  object-fit: cover;
}
.ratings__cQvXt:global(.__wab_instance) {
  position: relative;
}
.text__kbnpL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zxlPy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qf18U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__bq6H6 {
  position: relative;
  color: var(--token-Yagrc-0kym_mRQ);
  font-size: 30px;
  font-weight: 500;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ikl4Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___0Yv8Y:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vDnbr {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vDnbr > picture > img {
  object-fit: cover;
}
.img__vDnbr > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__g1VBk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___8SsXp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__bS8Xu {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bS8Xu > picture > img {
  object-fit: cover;
}
.img__bS8Xu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__j41E7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__iZqJu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__h4JI {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__h4JI > picture > img {
  object-fit: cover;
}
.img__h4JI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__llrYn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-bG5IwHIE1jO3k_);
  padding: 48px;
}
.freeBox__llrYn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__llrYn > :global(.__wab_flex-container) > *,
.freeBox__llrYn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__llrYn > :global(.__wab_flex-container) > picture > img,
.freeBox__llrYn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__kdqjj {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__kdqjj > picture > img {
  object-fit: cover;
}
.img__kdqjj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ah2Wj {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__ah2Wj > picture > img {
  object-fit: cover;
}
.img__ah2Wj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__t299B {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__t299B > picture > img {
  object-fit: cover;
}
.img__t299B > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__mVlrU {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__mVlrU > picture > img {
  object-fit: cover;
}
.img__mVlrU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__as8NO {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__as8NO > picture > img {
  object-fit: cover;
}
.img__as8NO > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
